{
    "parser": "babel-eslint",
    "ecmaFeatures": {
        "blockBindings": true,
        "jsx": true
    },
    "rules": {
        "strict": [2, "global"]
    },
    "globals": {
        "React": true
    }
}
