.wrapper {
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.table {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	box-sizing: border-box;
	display: flex;
}

.table .tr {
	background: #fff;
}

.table .tr .th {
	text-align: left;
	font-weight: 600;
	padding: 0 24px;
	color: rgba(0,0,0,0.54);
	font-size: 12px;
	line-height: 56px;
	white-space: nowrap;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.table .tr .th:first-child {
	padding-left: 32px;
}

.table .tr .th:last-child {
	padding-right: 32px;
}

.table .tr .th.column-sort {
	color: rgba(0,0,0,0.87);
}

.table .tr .th.numeric {
	text-align: right;
}

.table .tr .th .group-by-header {
	font-size: 80%;
	margin-left: 6px;
	color: rgba(0,0,0,0.56);
}

.table .tr .th.column-sort.asc::before {
	background-image: url('../dist/icons/arrow-up.png');
    background-size: 16px 16px;
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	margin-left: -24px;
	margin-top: 19px;
}

.table .tr .th.column-sort.desc::before {
	background-image: url('../dist/icons/arrow-down.png');
	background-size: 16px 16px;
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	margin-left: -24px;
	margin-top: 19px;
}

.table .tr.header .th {
	line-height: 64px;
	text-align: left;
	font-size: 20px;
	color: rgba(0,0,0,0.87);
	font-weight: 500;
}

.table .tbody .tr:hover {
	background-color: #f5f5f5;
	cursor: hand;
}

.table .tr .td {
	text-align: left;
	border: none;
	color: rgba(0,0,0,0.87);
	font-size: 13px;
	padding: 0 24px;
	border-bottom: 1px solid #eee;
	line-height: 48px;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-color: #fcfcfc;
}

.table .tr .td.group {
	background-color: #fff;
	font-weight: 500;
	font-size: 15px;
	border-top: 1px solid #fff;
}

.table .tr .td:first-child {
	padding-left: 32px;
}

.table .tbody .tr:first-child {
	border-top: 1px solid #eee;
}

.table .tr .td:last-child {
	padding-right: 32px;
}

.table .tr .td.numeric {
	text-align: right;
}

.table .tr .td a {
	color: #2e89c5;
	text-decoration: none;
}

.footer {
	background-color: #fff;
	border: 1px solid #eee;
	border-top: 0;
	height: 56px;
}

.ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}

.thead .li {
	float: left;
	margin-right: 30px;
	color: rgba(0,0,0,0.56);
	font-size: 13px;
	line-height: 56px;
}

.thead .li .dots-vertical {
	float: right;
	opacity: 0.56;
	cursor: hand;
}

.thead .li .dots-vertical:hover {
	opacity: 1;
}

.thead .li img {
	padding: 15px 0;
}

.footer .li {
	float: left;
	margin-right: 30px;
	color: rgba(0,0,0,0.56);
	font-size: 13px;
	line-height: 56px;
}

.footer .li .caret {
	float: right;
	opacity: 0.56;
}

.footer .li img {
	padding-top: 15px;
	padding-bottom: 15px;
	cursor: hand;
	opacity: 0.56;
}

.footer .li img:hover {
	opacity: 1;
}

.menu-wrapper {
	position: fixed;
	width: auto;
	background-color: #fcfcfc;
	border: 1px solid #eee;
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.rows-per-page {
	display: none;
	z-index: 999;
}

.group-by {
	display: none;
	z-index: 999;
}

.menu-wrapper .li {
	line-height: 48px;
	max-width: 200px;
	min-width: 100px;
	text-align: left;
	padding: 0 15px;
	color: rgba(0,0,0,0.87);
	font-weight: 400;
	float: none;
	cursor: pointer;
	margin: 0;
}

.footer .menu-wrapper .li {
	text-align: center;
}

.menu-wrapper .menu-hdr {
	line-height: 48px;
	color: rgba(0,0,0,0.87);
	border-bottom: 1px solid #ddd;
	font-weight: 400;
	text-align: left;
	font-size: 14px;
	padding: 0 15px;
	background-color: #fff;
}

.menu-wrapper .li.selected {
	font-weight: 600;
}

.menu-wrapper .li:hover {
	background-color: #eee;
}
