.wrapper {
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.table {
}

.body {
}

.body .row:not(.group):first-child {
	border-top: 1px solid #eee;
}

.row {
  	box-sizing: border-box;
  	display: table;
  	table-layout: fixed;
  	width: 100%;
	background-color: #fcfcfc;
	border-bottom: 1px solid #eee;
}

.head .row {
	border-bottom :0;
}

.cell {
	display: table-cell;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	  -ms-flex: 1;
	      flex: 1;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	  -ms-flex-direction: column;
	      flex-direction: column;
	position: relative;

	text-align: left;
	color: rgba(0,0,0,0.87);
	font-size: 13px;
	padding: 0 24px;
	line-height: 48px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.cell a {
	color: #2E88C5;
	text-decoration: none;
}

.group .cell {
	font-weight: 500;
	font-size: 15px;
	color: rgba(0,0,0,0.87);
}

.header {
	background-color: #fff;
	line-height: 56px;
}

.header .cell {
	font-weight: 600;
	color: rgba(0,0,0,0.54);
	font-size: 12px;
	line-height: 56px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	border-bottom: 0;
}

.head .title {
	font-size: 18px;
	padding-left: 32px;
}

.title .group-by-header {
	font-size: 80%;
	margin-left: 6px;
	color: rgba(0,0,0,0.56);
}

.options {
	position: absolute;
	right: 32px;
	padding-top: 14px;
}

@supports ((display: -webkit-box) or (display: -webkit-flex) or (display: -ms-flexbox) or (display: flex)) {
  .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .cell {
    display: block;
  }

  .cell-valign-middle,
  .cell-valign-bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.cell-min {
  width: 1.5%;
  -webkit-box-flex: 0;
  -webkit-flex: none auto;
      -ms-flex: none auto;
          flex: none auto;
}

.cell-max {
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

.row {
	border-collapse: seperate;
}

.row:not(.header):hover {
	background-color: #fff;
	cursor: pointer;
}

.row.group {
	background-color: #fff;
}

.row .cell:first-child {
	padding-left: 32px;
}

.row .cell:last-child {
	padding-right: 32px;
}

.cell.column-sort {
	color: rgba(0,0,0,0.87);
}

.cell.cell-nowrap {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.cell.cell-valign-middle {
  vertical-align: middle;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cell.cell-valign-bottom {
  vertical-align: bottom;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cell.cell-align-center {
  text-align: center;
}

.cell.cell-align-right {
  text-align: right;
}

.cell.cell-100px {
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  width: 100px;
  max-width: 100px;
}

.cell.column-sort.asc::before {
	background-image: url('../dist/icons/arrow-up.png');
    background-size: 16px 16px;
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	margin-left: -24px;
	margin-top: 19px;
}

.cell.column-sort.desc::before {
	background-image: url('../dist/icons/arrow-down.png');
	background-size: 16px 16px;
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	margin-left: -24px;
	margin-top: 19px;
}

/**/

.footer {
	background-color: #fff;
	border: 1px solid #eee;
	border-top: 0;
	height: 56px;
}

.ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}

.options .li {
	float: left;
	margin-right: 30px;
	color: rgba(0,0,0,0.56);
	font-size: 13px;
	line-height: 56px;
}

.options .dots-vertical {
	float: right;
	opacity: 0.56;
	cursor: pointer;
}

.options .dots-vertical:hover {
	opacity: 1;
}

.footer .li {
	float: left;
	margin-right: 30px;
	color: rgba(0,0,0,0.56);
	font-size: 13px;
	line-height: 56px;
}

.footer .li .caret {
	float: right;
	opacity: 0.56;
}

.footer .li img {
	padding-top: 15px;
	padding-bottom: 15px;
	cursor: pointer;
	opacity: 0.56;
}

.footer .li img:hover {
	opacity: 1;
}

.menu-wrapper {
	position: fixed;
	width: auto;
	background-color: #fcfcfc;
	border: 1px solid #eee;
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.rows-per-page {
	display: none;
	z-index: 999;
}

.group-by {
	display: none;
	z-index: 999;
}

.menu-wrapper .li {
	line-height: 48px;
	max-width: 200px;
	min-width: 100px;
	text-align: left;
	padding: 0 15px;
	color: rgba(0,0,0,0.87);
	font-weight: 400;
	float: none;
	cursor: pointer;
	margin: 0;
}

.footer .menu-wrapper .li {
	text-align: center;
}

.menu-wrapper .menu-hdr {
	line-height: 48px;
	color: rgba(0,0,0,0.87);
	border-bottom: 1px solid #ddd;
	font-weight: 400;
	text-align: left;
	font-size: 14px;
	padding: 0 15px;
	background-color: #fff;
}

.menu-wrapper .li.selected {
	font-weight: 600;
}

.menu-wrapper .li:hover {
	background-color: #eee;
}

.w-0 {}
.w-1 {}
.w-2 {}
.w-3 {}

/* Phone */
@media screen and (max-width: 375px) {
	.w-0 {
		display: block;
	}

	.w-1 {
		display: none;
	}

	.w-2 {
		display: none;
	}

	.w-3 {
		display: none;
	}

	.w-4 {
		display: none;
	}
}

/* Tablet */
@media screen and (min-width: 375px) and (max-width: 600px) {
	.w-0 {
		display: block;
	}

	.w-1 {
		display: block;
	}

	.w-2 {
		display: none;
	}

	.w-3 {
		display: none;
	}

	.w-4 {
		display: none;
	}
}

/* Small Desktop */
@media screen and (min-width: 600px) and (max-width: 992px) {
	.w-0 {
		display: block;
	}

	.w-1 {
		display: block;
	}

	.w-2 {
		display: block;
	}

	.w-3 {
		display: none;
	}

	.w-4 {
		display: none;
	}
}

/* Small Desktop */
@media screen and (min-width: 992px) and (max-width: 1200px) {
	.w-0 {
		display: block;
	}

	.w-1 {
		display: block;
	}

	.w-2 {
		display: block;
	}

	.w-3 {
		display: block;
	}

	.w-4 {
		display: none;
	}
}

/* Large Desktop */
@media screen and (min-width: 1200px) {
	.w-0 {
		display: block;
	}

	.w-1 {
		display: block;
	}

	.w-2 {
		display: block;
	}

	.w-3 {
		display: block;
	}

	.w-4 {
		display: block;
	}
}
