.wrapper {
	box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.36);
}

.table {
}

.body {
}

.loading-wrapper {
	background-color: #fff;
	min-height: 100px;
    text-align: center;
}

.body .row:not(.group):first-child {
	border-top: 1px solid #eee;
}

.row {
  	box-sizing: border-box;
  	display: table;
  	table-layout: fixed;
  	width: 100%;
	background-color: #fcfcfc;
	border-bottom: 1px solid #eee;
}

.row.loading {
	opacity: 0.3;
}

.head .row {
	border-bottom :0;
}

.cell {
	display: table-cell;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	  -ms-flex: 1;
	      flex: 1;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	  -ms-flex-direction: column;
	      flex-direction: column;
	position: relative;

	text-align: left;
	color: hsla(0, 0%, 0%, 0.87);
	font-size: 13px;
	padding: 0 24px;
	line-height: 48px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.cell a {
	color: #2E88C5;
	text-decoration: none;
}

.group .cell {
	font-weight: 500;
	font-size: 15px;
	color: hsla(0, 0%, 0%, 0.87);
}

.header {
	background-color: #fff;
	line-height: 56px;
}

.header .cell {
	font-weight: 600;
	color: hsla(0, 0%, 0%, 0.54);
	font-size: 12px;
	line-height: 56px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	border-bottom: 0;
	cursor: default;
}

.head {
	background-color: #fff;
}

.head.fixed {
	position: fixed;
	top: 0;
	z-index: 999;
	box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.36);
}

.options {
	position: absolute;
	right: 32px;
	padding-top: 14px;
}

@supports ((display: -webkit-box) or (display: -webkit-flex) or (display: -ms-flexbox) or (display: flex)) {
  .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .cell {
    display: block;
  }

  .cell-valign-middle,
  .cell-valign-bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.cell-min {
  width: 1.5%;
  -webkit-box-flex: 0;
  -webkit-flex: none auto;
      -ms-flex: none auto;
          flex: none auto;
}

.cell-max {
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

.row {
	border-collapse: seperate;
}

.row:not(.header):hover {
	background-color: #fff;
	cursor: pointer;
}

.row.group {
	background-color: #fff;
	text-transform: uppercase;
}

.row .cell:first-child {
	padding-left: 32px;
}

.row .cell:last-child {
	padding-right: 32px;
}

.cell.column-sort {
	color: hsla(0, 0%, 0%, 0.87);
}

.cell.cell-nowrap {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.cell.cell-valign-middle {
  vertical-align: middle;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cell.cell-valign-bottom {
  vertical-align: bottom;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cell.cell-align-center {
  text-align: center;
}

.cell.cell-align-right {
  text-align: right;
}

.cell.cell-highlight div {
	float: left
}

.cell.cell-highlight::after {
	content: '';
	width: 8px;
	height: 8px;
	line-height: 48px;
	border-radius: 50%;
	display: block;
	float: right;
	margin-top: 21px;
	background-color: rgba(46,204,113,1);
}

.cell .search-highlight {
	font-weight: 800;
}

.cell.cell-100px {
  -webkit-box-flex: 0;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  width: 100px;
  max-width: 100px;
}

.cell.column-sort.asc::before {
	font-family: Material Icons;
	content: "\e5c4";
	position: absolute;
  	-webkit-transform: rotate(90deg);
  	-ms-transform: rotate(90deg);
  	transform: rotate(90deg);
	font-weight: 100;
	font-size: 16px;
	margin-left: -24px;
}

.cell.column-sort.desc::before {
	font-family: Material Icons;
	content: "\e5c4";
	position: absolute;
  	-webkit-transform: rotate(270deg);
  	-ms-transform: rotate(270deg);
  	transform: rotate(270deg);
	font-weight: 100;
	font-size: 16px;
	margin-left: -24px;
}

/**/

.footer {
	background-color: #fff;
	border: 1px solid #eee;
	border-top: 0;
	height: 56px;
}

.footer-btn {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	background-color: #3498DB;
	box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.36);
	z-index: 999;
	position: fixed;
	bottom: 16px;
	opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
	color: #fff;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.footer-btn.visible,
.footer-btn-options-list-child.visible {
	opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.footer-btn.hide,
.footer-btn-options-list-child.hide {
	opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.footer-btn:hover {
	background-color: #2E88C5;
	cursor: pointer;
}

.footer-btn i {
	position: absolute;
	top: 30%;
	left: 30%;
}

.footer-btn-options {
	position: fixed;
	bottom: 86px;
}

.footer-btn-options-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-btn-options-list-child {
	width: 46px;
	height: 46px;
	border-radius: 50%;
	background-color: #f2f2f2;
	box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.36);
	z-index: 999;
	opacity: 0;
	margin-bottom: 10px;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
	color: hsla(0, 0%, 0%, 0.87);
	cursor: pointer;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.footer-btn-options-list-child:hover {
	background-color: #f9f9f9;
}

.footer-btn-options-list-child i {
	padding: 10px;
}

.ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}

.options .li {
	float: left;
	margin-right: 30px;
	color: hsla(0, 0%, 0%, 0.56);
	font-size: 13px;
	line-height: 56px;
}

.footer .li {
	float: left;
	margin-right: 30px;
	color: hsla(0, 0%, 0%, 0.56);
	font-size: 13px;
	line-height: 56px;
	user-select: none;
}

.footer .li .caret {
	float: right;
	opacity: 0.56;
}

.footer .li i {
	padding-top: 15px;
	padding-bottom: 15px;
	cursor: pointer;
	opacity: 0.87;
}

.footer .li i:hover {
	opacity: 1;
}

.menu-wrapper {
	position: fixed;
	width: auto;
	background-color: #fcfcfc;
	border: 1px solid #eee;
	box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.26);
}

.rows-per-page {
	display: none;
	z-index: 999;
}

.group-by {
	display: none;
	z-index: 999;
}

.menu-wrapper .li {
	line-height: 48px;
	max-width: 200px;
	min-width: 100px;
	text-align: left;
	padding: 0 15px;
	color: hsla(0, 0%, 0%, 0.87);
	font-weight: 400;
	float: none;
	cursor: pointer;
	margin: 0;
}

.footer .menu-wrapper .li {
	text-align: center;
}

.menu-wrapper .menu-hdr {
	line-height: 48px;
	color: hsla(0, 0%, 0%, 0.87);
	border-bottom: 1px solid #ddd;
	font-weight: 400;
	text-align: left;
	font-size: 14px;
	padding: 0 15px;
	background-color: #fff;
}

.menu-wrapper .li.selected {
	font-weight: 600;
}

.menu-wrapper .li:hover {
	background-color: #eee;
}

.date-controls-wrapper {
	display: flex;
	margin-bottom: 15px;
}

.options-wrapper {
	background-color: #fff;
	padding: 24px 32px;
	border-top: 1px solid #ddd;
	min-height: 50px;
}

.options-wrapper .title {
	float: left;
}

.options-wrapper .title h1 {
	margin: 0;
	font-weight: 500;
	font-size: 28px;
	color: hsla(0, 0%, 0%, 0.87);
	text-align: left;
}

.options-wrapper .title h2 {
	color: hsla(0, 0%, 0%, 0.56);
	font-weight: 500;
	font-size: 18px;
	text-align: left;
}

.options-tools input {
	cursor: pointer;
}

.options-tools {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
}

.options-tools li {
	float: left;
	padding-right: 24px;
	cursor: pointer;
}

.options-tools img {
	opacity: 0.56;
}

.options-tools img:hover {
	opacity: 1;
}

.options-tools li:last-child {
	padding-right: 0;
}

.input-container {
	display: inline-block;
	position: absolute;
	margin-top: -8px;
	float: left;
}


.input-container i {
	position: absolute;
	bottom: 8px;
	right: 0px;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	background-color: transparent;
	width: 300px;
	border: none;
	color: hsla(0, 0%, 0%, 1);
}

.input:focus {
	outline: none;
}

.bar  {
	position: relative;
	display: block;
	width:300px;
	border-bottom: 1px solid #ddd;
}

.bar:before,
.bar:after   {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #3498DB;
	transition: 0.2s ease all;
}

.bar:before {
	left: 50%;
}

.bar:after {
	right: 50%;
}

input:focus ~ .bar {
	border-bottom: transparent;
	transition: 0.2s ease all;
}

input:focus ~ .bar:before,
input:focus ~ .bar:after {
	width: 50%;
}

.highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}

input:focus ~ .highlight {
	animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
  from  { background: #3498DB; }
  to    { width:0; background: transparent; }
}

.tools-search {
	display: inline-block;
	position: absolute;
	right: 160px;
	margin-top: -15px;
	float: left;
}

.w-0 {}
.w-1 {}
.w-2 {}
.w-3 {}

/* Phone */
@media screen and (max-width: 375px) {
	.w-0 {
		display: block;
	}

	.w-1 {
		display: none;
	}

	.w-2 {
		display: none;
	}

	.w-3 {
		display: none;
	}

	.w-4 {
		display: none;
	}
}

/* Tablet */
@media screen and (min-width: 375px) and (max-width: 600px) {
	.w-0 {
		display: block;
	}

	.w-1 {
		display: block;
	}

	.w-2 {
		display: none;
	}

	.w-3 {
		display: none;
	}

	.w-4 {
		display: none;
	}
}

/* Small Desktop */
@media screen and (min-width: 600px) and (max-width: 992px) {
	.w-0 {
		display: block;
	}

	.w-1 {
		display: block;
	}

	.w-2 {
		display: block;
	}

	.w-3 {
		display: none;
	}

	.w-4 {
		display: none;
	}
}

/* Small Desktop */
@media screen and (min-width: 992px) and (max-width: 1200px) {
	.w-0 {
		display: block;
	}

	.w-1 {
		display: block;
	}

	.w-2 {
		display: block;
	}

	.w-3 {
		display: block;
	}

	.w-4 {
		display: none;
	}
}

/* Large Desktop */
@media screen and (min-width: 1200px) {
	.w-0 {
		display: block;
	}

	.w-1 {
		display: block;
	}

	.w-2 {
		display: block;
	}

	.w-3 {
		display: block;
	}

	.w-4 {
		display: block;
	}
}
